@font-face {
    font-family: PriorSan;
    src: url(PriorSanLig.ttf);
}

@font-face {
    font-family: PriorSan;
    src: url(PriorSanBol.ttf);
    font-weight: bold;
}

p{
    margin:0px;
    font-weight: 300;
}

*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.uk-navbar-brand img{
    width:100px;
    position: absolute;
    top: 0px;
    z-index: 10000;
}

.uk-navbar-brand{
    width:115px;
}

.uk-navbar{
    background-color: #626266;
    color:white;
}

.uk-navbar-nav>li>a{
    color:white;
}

.uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus{
    background-color: white;
    color: #005F9F;
}

.uk-navbar-nav>li.uk-active>a {
    background-color: white;
    color: #005F9F;
}

.uk-navbar-nav>li>a{
    padding:15px 20px;
}

.uk-navbar-brand, .uk-navbar-content, .uk-navbar-toggle{
}

.uk-navbar-nav>li>a{
    height:initial;
    font-weight: 200;
}

a.uk-slidenav{
    background-color: rgba(0,95,159,0.6);
    border-radius: 100%;
    width: 100px;
    padding-top: 21px;
    height: 100px;
}

.uk-slidenav-position .uk-slidenav-next{
    right:-47px !important;
    padding-right: 38px;
}

.uk-slidenav-position .uk-slidenav-previous{
    left:-47px !important;
    padding-left: 38px;
}

.center{
    text-align: center;
}

h1.button-styled{
    font-size: 34px;
    background-color: #005F9F;
    display: inline-block;
    border-radius: 20px;
    color: white;
    padding: 1px 52px;
    padding-top: 8px;
}

.container{
    padding:50px;
    text-align: center;
}

p.hashtag{
    font-size: 21px;
    padding-bottom: 2px;
    font-weight: 600;
}

.about-us .blocks{
    max-width: 500px;
    text-align: center;
    display: inline-block;
    padding-bottom: 30px;
}



.rooms-prices .inner-card{
    background-color: #626266;
    position:relative;
}

.rooms-prices .inner-card .nav {
    padding: 20px 50px;
    color:white;
}

.rooms-prices .inner-card .nav h1{
    color:white;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 0px;
}

.rooms-prices .inner-card .nav .nav-arrows{
    display: inline-block;
    vertical-align: middle;
    float:right;
}

.rooms-prices .inner-card .nav .nav-arrows{
    font-size: 25px;
    font-weight: lighter;
}


.rooms-prices .inner-card .nav .nav-arrows button{
    background-color: #505051;
    padding:14px 16px;
    border-radius: 100%;
    border:none;
    font-size: 17px;
    color:white;
    margin:5px;
}

.rooms-prices .room-image{
    width:60%;
    display: inline-block;
    vertical-align: top;
    background-size: cover !important;
    background-position: center center !important;
    min-height: 40vw;
    box-shadow: 3px -5px 17px 2px rgba(0, 0, 0, 0.18);
}

.rooms-prices .room-details{
    width:40%;
    display: inline-block;
    vertical-align: top;
    padding:0px 40px;
    text-align: center;
    color:white;
    padding-top: 20px;
    padding-bottom: 15px;
}

.rooms-prices .room-details h4{
    color:white;
    font-size: 29px;
    font-weight: bolder;
}

.meetings .meeting-card{
    width:33%;
    display: inline-block;
    vertical-align: top;
    padding:0px 20px;
}

.meetings .meeting-card h4{
    font-size: 25px;
    font-weight: 600;
}

.meetings .meeting-card .image{
    border-radius: 100%;
    background-size: cover;
    background-position: center center;
    width:100px;
    height:100px;
    display: inline-block;

}

.meetings .meeth1{
    border-bottom: 1px solid #969696;
    padding-bottom: 6px;
    margin-bottom: 20px;
}


.rewards{
    background:url('../images/rewards_asd.png');
    background-position: center center;
    background-size: cover;
    color:white;
}

.rewards .overlay{
    background-color: rgba(0,0,0,0.5);
}

.rewards .overlay h1.meeth1{
    color:white;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
    margin-bottom: 20px;
}


.book-now h1.meeth1{
    color:white;
    font-weight: bolder;
    border-bottom: 1px solid white;
}

.rewards p{
    padding-bottom: 15px;
}

.rewards h3{
    font-weight: 500;
    font-size: 20px;
    color:white;
    margin-bottom: 5px;
}

.rewards a{
    color:#ffedaa;
}

.book-now{
    background-color: #626266;
}

.book-now .input-form{
    display: inline-block;
    text-align:left;
    min-width:40%;
    vertical-align: top;
    padding:15px;
    padding-bottom: 10px;
}

.book-now .input-form label{
    display: block;
    color:white;
    margin-bottom: 6px;
}

.book-now .input-form input{
    background-color: transparent;
    padding:8px;
    border:1px solid white;
    border-radius: 8px;
    display: block;
    width:100%;
    height:40px;
    color:white;
}


.social-media{
    background-color:#005F9F;
    text-align: right;
    padding:20px 100px;
}

.social-media h2{
    float:left;
    color:white;
    font-weight: bolder;
    font-size: 38px;
    margin-bottom: 0px;
    padding-top: 8px;
}

.social-media ul{
    margin:0px;
    display: inline-block;
    padding:0px;
}

.social-media ul li{
    display: inline-block;
    vertical-align: top;
    color:white;
}

.social-media ul li a i{
    color:white;
    border:1px solid white;
    border-radius:100%;
    padding:5px;
    font-size: 26px;
    width:38px;
    padding-right: 7px;
}

footer{
    background-color: #626266;
    text-align: center;
}

footer p{
    font-size: 12px;
    padding:10px;
    color:white;
}


h1, h2, h3, h4, h5, h6, html{
    font-family: PriorSan;
    color:black;
}


p{
    font-size: 16px;
}


.uk-h1, h1{
    font-size: 50px;
    font-weight: 600;
}

.uk-navbar-toggle{
        padding-top: 25px;
        padding-bottom: 40px;
        color: white;
        float: right;
}

.date input{
    display: inline-block !important;
    width:45% !important;
    vertical-align: top;
}

.date span{
    display: inline-block;
    width:10%;
    vertical-align: middle;
    color:white;
    text-align: center;
}

.wow { visibility: hidden; }



@media (max-width: 650px) {
  .rooms-prices .room-image {
    width:100%;
  }

  .rooms-prices .room-details{
    width:100%;
  }

  .meetings .meeting-card{
    padding-bottom: 20px;
    width:100%;
  }

  .book-now .input-form{
    width:100%
  }

  .rooms-prices .room-image{
    min-height: 222px;
  }

  .rooms-prices .inner-card .nav .nav-arrows{
    position: absolute;
    top: 250px;
    left: 0px;
    right: 0px;
    width: 154px;
    margin: auto;
    text-shadow: 1px 2px 1px #090808;
  }

  .rooms-prices .inner-card .nav{
    text-align: center;
  }
}

@media (max-width: 500px) {
    .social-media{
        text-align: center;
    }

    .social-media h2{
        float:none;
    }

    .social-media ul{
        padding-top: 20px;
    }

    .social-media{
        padding:20px;
    }

}

.room-details .short-desc{
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 15px;
    display: block;
}

.room-details ul{
    font-size: 16px;
    padding:0px;
    list-style: none;
}

.uk-offcanvas.uk-active .uk-offcanvas-bar.uk-offcanvas-bar-show{
    padding-top: 100px;
    background-color: #005F9F;
}

.uk-offcanvas.uk-active .uk-offcanvas-bar.uk-offcanvas-bar-show ul{
    padding:0px;
}

.uk-offcanvas.uk-active .uk-offcanvas-bar.uk-offcanvas-bar-show ul li{
    display: block;
}

.uk-offcanvas.uk-active .uk-offcanvas-bar.uk-offcanvas-bar-show ul li a{
    display: block;
    color:white;
    padding:20px;
    background-color: #005F9F;
    font-weight: bolder;
    border-bottom:1px solid white;
    text-decoration: none; 
}